<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<appSettings>
		<add key="UQFN_Online" value="Data Source=172.16.10.5;Initial Catalog=GCMOnline_V300;user id=gcmonline; pwd=gasfer15"/>
		<add key="SISAD" value="Data Source=172.16.10.5;Initial Catalog=SISAD;user id=GCMONLINE;password=gasfer15;"/>
		<!--<add key="connectionString" value="Data Source=SCA06;Initial Catalog=SIFP;user id=sa;password=9262110;Connection Timeout=0" />
		<add key="strVetor" value="ABcd9841" />-->

    <!-- PRODUÇÃO -->
    <add key="ambiente" value="Produção"/>
    <add key="connectionString_GCMONLINEv300" value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=GCMOnline_V300;user id=USR#PCD; pwd=pcd@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_GCMONLINE"     value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=GCMONLINE;user id=USR#PCD; pwd=pcd@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_ENQUETE"       value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=ENQUETE;user id=USR#PCD; pwd=pcd@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SGO"           value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SFC;user id=USR#SFC;password=sfc@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISCEM"        value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SISCEM ;user id=USR#SISCEM; pwd=siscem@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISCOP"        value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SISCOP ;user id=USR#SISCOP; pwd=siscop@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_WINNER"        value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=WINNER;user id=USR#WINNER;password=winner@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISVENC"       value="Data Source=sdb00.uniaoquimica.com.br;initial Catalog=SISVENC;user id=USR#SISVENC; password=sisvenc@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISGEM"        value="Data Source=sdb00.uniaoquimica.com.br;initial catalog=SISGEM;user id=USR#SISGEM; password=sisgem@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISAC"         value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SISAC;user id=USR#SISAC; pwd=sisac@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_COMISSOES"     value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=COMISSOES;user id=USR#COMISSOES; pwd=comissoes@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SFF"           value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SFF;user id=USR#SFF; pwd=sff@2014$; Min Pool Size=0; Max Pool Size=10000;" />

    <!-- Qualidade -->
    <!--
    <add key="ambiente" value="Qualidade"/>
    <add key="connectionString_GCMONLINEv300" value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=GCMOnline_V300_QAS;user id=USR#PCD_QAS; pwd=pcd_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_GCMONLINE"     value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=GCMONLINE_QAS;user id=USR#PCD_QAS; pwd=pcd_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_ENQUETE"       value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=ENQUETE_QAS;user id=USR#PCD_QAS; pwd=pcd_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SGO"           value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SFC_QAS;user id=USR#SFC_QAS;password=sfc_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISCEM"        value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SISCEM_QAS ;user id=USR#SISCEM_QAS; pwd=siscem_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISCOP"        value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SISCOP_QAS ;user id=USR#SISCOP_QAS; pwd=siscop_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_WINNER"        value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=WINNER_QAS;user id=USR#WINNER_QAS;password=winner_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISVENC"       value="Data Source=sdb00.uniaoquimica.com.br;initial Catalog=SISVENC_QAS;user id=USR#SISVENC_QAS; password=sisvenc_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISGEM"        value="Data Source=sdb00.uniaoquimica.com.br;initial catalog=SISGEM_QAS;user id=USR#SISGEM_QAS; password=sisgem_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SISAC"         value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SISAC_QAS;user id=USR#SISAC_QAS; pwd=sisac_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_COMISSOES"     value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=COMISSOES_QAS;user id=USR#COMISSOES_QAS; pwd=comissoes_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    <add key="connectionString_SFF"           value="Data Source=sdb00.uniaoquimica.com.br;Initial Catalog=SFF_QAS;user id=USR#SFF_QAS; pwd=sff_qas@2014$; Min Pool Size=0; Max Pool Size=10000;" />
    
    
    -->
    
	</appSettings>
	<enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
		<configurationSections/>
		<!--
			<includeTypes />
		-->
		<keyAlgorithmStorageProvider xsi:nil="true"/>
	</enterpriselibrary.configurationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
